.import/BlackSquare.png-feca5734179116080e5fe2646bed2726.md5
.import/BlackSquare.png-feca5734179116080e5fe2646bed2726.stex
.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
.import/icon.png-487276ed1e3a0c39cad0279d744ee560.stex
.import/WhiteSquare.png-990d740830d5286b0c770187ae8a72f4.md5
.import/WhiteSquare.png-990d740830d5286b0c770187ae8a72f4.stex
.mono/assemblies/Debug/api_hash_cache.cfg
.mono/assemblies/Debug/GodotSharp.dll
.mono/assemblies/Debug/GodotSharp.pdb
.mono/assemblies/Debug/GodotSharp.xml
.mono/assemblies/Debug/GodotSharpEditor.dll
.mono/assemblies/Debug/GodotSharpEditor.pdb
.mono/assemblies/Debug/GodotSharpEditor.xml
.mono/assemblies/Release/api_hash_cache.cfg
.mono/assemblies/Release/GodotSharp.dll
.mono/assemblies/Release/GodotSharp.pdb
.mono/assemblies/Release/GodotSharp.xml
.mono/assemblies/Release/GodotSharpEditor.dll
.mono/assemblies/Release/GodotSharpEditor.pdb
.mono/assemblies/Release/GodotSharpEditor.xml
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/Hopper.dll
.mono/temp/bin/Debug/Hopper.pdb
.mono/temp/obj/Hopper.csproj.nuget.dgspec.json
.mono/temp/obj/Hopper.csproj.nuget.g.props
.mono/temp/obj/Hopper.csproj.nuget.g.targets
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.mono/temp/obj/Debug/Hopper.AssemblyInfo.cs
.mono/temp/obj/Debug/Hopper.AssemblyInfoInputs.cache
.mono/temp/obj/Debug/Hopper.assets.cache
.mono/temp/obj/Debug/Hopper.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/Hopper.csproj.FileListAbsolute.txt
.mono/temp/obj/Debug/Hopper.csprojAssemblyReference.cache
.mono/temp/obj/Debug/Hopper.dll
.mono/temp/obj/Debug/Hopper.pdb
